body{
   background-color: E4E4E3;
}
/* Style Navbar*/
.bg-dd{
    background-color: #1CC8FF;
}
.edit-pofile{
    text-align: center;
    margin-left: 10px;
    
}
.img-edit{
    width: 3vh;
    height: 3vh;
    margin-bottom: 1vh;
    margin-left: 2vh;
}
.a-edit{
    text-decoration: none;
    color: brown;
}
.a-edit:hover{
    text-decoration: none;
}
.a-edit:focus{
    border: 1px solid ;
}
.img-logout{
    width: 3vh;
    height: 3vh;
    margin-bottom: 1vh;
    margin-left: 2vh;
    
}
.a-logout{
    color: red;
}

/* End Style Navbar*/
/* Style Post Detaills*/
.card{
 background: #FFFFFF;
 width: 1005;
box-shadow: 4px 4px 7px rgba(0, 0, 0, 0.25);
border-radius: 10px;
border-bottom: 2px solid rgba(129, 45, 45, 0.61);
}
.form-control{
    text-align: center;
    
}
.label-din{
    text-align: center;
}
.btn-ajouter{
background: #7863FF;
border-radius: 10px;
width: 20vh;
height: 8vh;
}
.btn-ajouter:hover{
    color: white;
    font-size:4vh;
}
.btn{
    text-align: center;
}
#btnsend{
    width: 6vh;
    height: 7vh;
}
#comment{
    box-shadow:  0 1px 1px rgba(0,0,0,.075);
    background-color: #f1f2f7;
    border:1px solid #eeeff2;
    width: 100%;
    text-align: center;
}
.slug{
    overflow: hidden;
}
#img:hover{
    animation: like 2s infinite linear alternate;
}
@keyframes like {
    0%{
        transform: rotate(50deg) ;;
     
    }
    50%{
        transform: rotate(0deg) ;;

    }
    100%{
        transform: rotate(-50deg);
    }
}

/* End Style Post Detaills*/
/* style  Home Post*/
#update_post{
    display: none;
}
.text-decoration{
    text-align: center;
    text-decoration: none;
}
.text-decoration:hover{
    text-decoration: none;
}
.center:active{
    text-decoration:none ;
}
.center:link{
    text-decoration: none;
}
.img{
    text-align: center;
}
.img-post{
    width: 100%;
    height: 70vh;
    border-radius: 10px;
}
.img-use{
    border-radius: 50%;
    width: 5vh;
    height: 6vh;
}
.link-comment{
    color: crimson;
}
.link-comment:hover{
    text-decoration: none;
}
.imgfollow{
border: 0px;
}
.imgfollow:link{

}
.imgfollow:hover{
    animation: likehome 2s infinite linear alternate;
    border: 0px;
    background-color: transparent;
    border-radius: 50%;
}
@keyframes likehome {
    0%{
        transform: rotate(50deg) ;
     
    }
    50%{
        transform: rotate(0deg) ;

    }
    100%{
        transform: rotate(-50deg);
    }
}
.td-setting{
    width: 170vh;
    text-align: right;
    margin-right: 100%;
}
.dropdown-menu{
    left: -46px !important;
    width: 20vh !important;  
}
.btn-delete{
    background-color: transparent;
    border: 0px;
    color: rgb(60, 130, 235);
    
}
.btn-delete:hover{
    background-color: wheat;
}
.btn-update:hover{
    text-decoration: none;
    background-color: wheat;
}
.btn-detaills{
    height: 4vh;
}
.btn-detaills:hover{
    text-decoration: none;
    background-color: wheat;
}
.a-user-name{
    text-decoration : none;
    color: black;
}
.a-user-name:hover{
    text-decoration: none;
    color: black;
}
/* End  style  Home Post*/
/*style page profile */
.image-user{
    width: 15vh;
    height: 15vh;
    border-radius: 10px;
}
.div-image-user{
    text-align: center;
}

.inputfile {
	width: 20vh;
	height: 0.1px;
    opacity: 0;
    overflow: hidden;
	position: absolute;
    z-index: -1;
   
}
.inputfile + label {
    font-size: 20px;
    font-weight: 700;
    color: white;
    background-color: rgb(123, 235, 255);
    display: inline-block;
    border-radius: 10px;
    margin-right: 35px;
}

.inputfile:focus + label,
.inputfile + label:hover {
    background-color: red;
}
.inputfile + label {
    cursor: pointer; /* "hand" cursor */
    
}
.inputfile:focus + label {
	outline: 1px dotted #000;
	outline: -webkit-focus-ring-color auto 5px;
}
.divEdit-Image{
    text-align: center;
}
.Image-Edit-user{
    width: 4vh;
    height: 4vh;
    position: relative;
    margin-top: 81px;   
}
.btn-save{
    margin-right: 35px;
}
#name{
    box-shadow:  0 1px 1px rgba(0,0,0,.075);
    background-color: #f1f2f7;
    border:1px solid #eeeff2;
}
#email{
    box-shadow:  0 1px 1px rgba(0,0,0,.075);
    background-color: #f1f2f7;
    border:1px solid #eeeff2;
}
#pass{
    box-shadow:  0 1px 1px rgba(0,0,0,.075);
    background-color: #f1f2f7;
    border:1px solid #eeeff2;
}


.showme {
    display: none;
}
.error {
    border: 1px solid red;
}
.btnEdit{
    width: 153px;
    height: 44px;
    background: #A2E9FF;
    border-radius: 10px;
}
/* end page style profile */
/***   style Add Post **/
#title{
    box-shadow:  0 1px 1px rgba(0,0,0,.075);
    background-color: #f1f2f7;
    border:1px solid #eeeff2;
}
#desc{
    box-shadow:  0 1px 1px rgba(0,0,0,.075);
    background-color: #f1f2f7;
    border:1px solid #eeeff2;
}
#user{
    box-shadow:  0 1px 1px rgba(0,0,0,.075);
    background-color: #f1f2f7;
    border:1px solid #eeeff2;
}
#category{
    box-shadow:  0 1px 1px rgba(0,0,0,.075);
    background-color: #f1f2f7;
    border:1px solid #eeeff2;
    text-align: center;
}
#fileAddPost{
    box-shadow:  0 1px 1px rgba(0,0,0,.075);
    background-color: #f1f2f7;
    border:1px solid #eeeff2;
}
.password{
    box-shadow:  0 1px 1px rgba(0,0,0,.075);
    background-color: #f1f2f7;
    border:1px solid #eeeff2;
}

/****   End style Add Post ****/





.a-register{
    text-decoration: none;
}
.a-register:active{
    text-decoration: none;
}
.a-register:link{
    text-decoration: none;
}
.a-register:hover{
    text-decoration: none;
}

